:root {
  /* Light Theme */
  color-scheme: light dark;

  --color-black: #000000;
  --color-white: #ffffff;

  --font-body: "PT Serif", "Georgia", "Times New Roman", serif;
  --font-display: "Lora", "Georgia", "Times New Roman", serif;

  --color-surface-100: #e5e5e5;
  --color-surface-200: #cccccc;
  --color-surface-300: #b2b2b2;
  --color-surface-400: #999999;
  --color-surface-500: #808080;
  --color-surface-600: #666666;
  --color-surface-700: #4d4d4d;
  --color-surface-800: #333333;
  --color-surface-900: #1a1a1a;

  --color-bg: var(--color-white, #ffffff);
  --color-text: var(--color-black, #000000);
  --color-border: var(--color-surface-100, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
  /* Dark Theme */
  :root {
    --color-surface-100: #1a1a1a;
    --color-surface-200: #333333;
    --color-surface-300: #4d4d4d;
    --color-surface-400: #666666;
    --color-surface-500: #808080;
    --color-surface-600: #999999;
    --color-surface-700: #b2b2b2;
    --color-surface-800: #cccccc;
    --color-surface-900: #e5e5e5;

    --color-bg: var(--color-black, #000000);
    --color-text: var(--color-white, #ffffff);
    --color-border: var(--color-surface-100, #e5e5e5);
  }
}

html[data-theme="light"] {
  --color-surface-100: #e5e5e5;
  --color-surface-200: #cccccc;
  --color-surface-300: #b2b2b2;
  --color-surface-400: #999999;
  --color-surface-500: #808080;
  --color-surface-600: #666666;
  --color-surface-700: #4d4d4d;
  --color-surface-800: #333333;
  --color-surface-900: #1a1a1a;

  --color-bg: var(--color-white, #ffffff);
  --color-text: var(--color-black, #000000);
  --color-border: var(--color-surface-100, #1a1a1a);
}

html[data-theme="dark"] {
  --color-surface-100: #1a1a1a;
  --color-surface-200: #333333;
  --color-surface-300: #4d4d4d;
  --color-surface-400: #666666;
  --color-surface-500: #808080;
  --color-surface-600: #999999;
  --color-surface-700: #b2b2b2;
  --color-surface-800: #cccccc;
  --color-surface-900: #e5e5e5;

  --color-bg: var(--color-black, #000000);
  --color-text: var(--color-white, #ffffff);
  --color-border: var(--color-surface-100, #e5e5e5);
}

body {
  font-family: var(--font-body);
  text-align: left;
  color: var(--color-text);
  font-size: 17px;
  line-height: 1.55;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  min-height: 100svh;
  display: flex;
  position: relative;
  background-color: var(--color-bg);
}
