---
const year = new Date().getFullYear();
---

<footer>
  <p>&copy; {year} Enkherdene Bolormaa</p>
</footer>

<style>
  footer {
    padding-block: 3rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--color-surface-400);
  }
</style>
